# Fastlane specific
*.cer
*.certSigningRequest
*.mobileprovision
*.p12
*.dSYM.zip

# Fastlane reports
report.xml
screenshots
test_output

# Google Services (API keys)
google-play-key.json
GoogleService-Info.plist

# Apple Match certificates
certs/
